@font-face {
  font-family: pfbold;
  src: url(./assets/PFBagueSansPro-Bold.ttf);
}
@font-face {
  font-family: pfmedium;
  src: url(./assets/PFBagueSansPro-Medium.ttf);
}

:root {
  font-size: 30px;
}

body {
  margin: 0;
}

h3,
h4,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/********** BANNER ***********/

.banner {
  max-width: 100%;
  height: auto;
  display: block;
}

/********** SECTION 1 ***********/

.section1 {
  max-width: 100%;
  max-height: 140px;
  padding: clamp(15px, 3vw, 30px);
  text-align: center;
  background-color: #f7f6e7;
  color: #707070;
  line-height: clamp(25px, 4vw, 35px);
}

.section1 h4 {
  font-size: clamp(12px, 4vw, 33px);
  font-family: pfbold;
}

.section1 p {
  margin: 0;
  letter-spacing: 0.3px;
  font-family: pfmedium;
  font-size: clamp(11px, 3vw, 27px);
}

/********** ITEMS SECTION ***********/
.items-container {
  background-color: #ebe9cd;
  color: #707070;
}

.items-container-heading {
  padding: clamp(15px, 4vw, 35px);
  text-align: center;
}

.items-container-heading h3 {
  font-family: pfbold;
  font-size: clamp(16px, 4vw, 48px);
}

.items-container-heading p {
  font-family: pfmedium;
  font-size: clamp(12px, 3vw, 37px);
}

/******** ITEM CLASS ********/

.item {
  font-family: pfmedium;
  padding: clamp(10px, 2vw, 20px);
}

.items-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 20px;
}

.item h3 {
  font-size: clamp(15px, 4vw, 33px);
}

.item img {
  display: block;
  /* max-width: clamp(85%, 45vw, 100%); */
  max-width: 100%;
  margin: 0 auto;
}

.item p {
  font-size: clamp(18px, 4vw, 43px);
  text-align: right;
}

.item sub {
  font-size: clamp(10px, 4vw, 15px);
}

.item sup {
  font-size: clamp(15px, 4vw, 22px);
}

#item1 {
  width: 325px;
  height: 360px;
  background-color: #f09344;
}
#item2 {
  width: 730px;
  height: 415px;
  background-color: #dfc7af;
}
#item3 {
  width: 525px;
  height: 480px;
  background-color: #71c1b6;
}
#item4 {
  width: 525px;
  height: 460px;
  background-color: #b95c4c;
}
#item5 {
  width: 375px;
  height: 405px;
  background-color: #fecb68;
}
#item6 {
  width: 780px;
  height: 400px;
  background-color: #ada0bf;
}
#item7 {
  width: 375px;
  height: 350px;
  background-color: #c6e5bd;
}
#item8 {
  width: 780px;
  height: 410px;
  background-color: #8fbbce;
}
#item9 {
  width: 545px;
  height: 450px;
  background-color: #b2b192;
}

/******** MEDIA QUERIES *******/

@media (max-width: 610px) {
  .items-container-heading {
    display: none;
  }

  .items-grid {
    display: grid;
    grid-template-columns: repeat(2, 165px);
    grid-template-rows: repeat(6, 140px);
    grid-gap: 30px;
  }

  #item1,
  #item2,
  #item3,
  #item4,
  #item5,
  #item6,
  #item7,
  #item8 {
    width: 145px;
    height: 135px;
  }
  #item9 {
    width: 320px;
    height: 140px;
  }
}
