@font-face {
  font-family: pfbold;
  src: url(./assets/PFBagueSansPro-Bold.ttf);
}
@font-face {
  font-family: pfmedium;
  src: url(./assets/PFBagueSansPro-Medium.ttf);
}

:root {
  font-size: 30px;
}

body {
  margin: 0;
}

h3,
h4,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/********** BANNER ***********/

.banner {
  max-width: 100%;
  height: auto;
}

/********** SECTION 1 ***********/

.section1 {
  max-width: 100%;
  max-height: 140px;
  padding: clamp(15px, 3vw, 30px);
  text-align: center;
  background-color: #f7f6e7;
  color: #707070;
  transform: translateY(-7px);
  line-height: clamp(25px, 4vw, 35px);
}

.section1 h4 {
  font-size: clamp(12px, 4vw, 33px);
  font-family: pfbold;
}

.section1 p {
  margin: 0;
  letter-spacing: 0.3px;
  font-family: pfmedium;
  font-size: clamp(11px, 3vw, 27px);
}

/********** ITEMS SECTION ***********/
.items-container {
  max-height: 1650px;
  background-color: #ebe9cd;
  transform: translateY(-7px);
  color: #707070;
}

.items-container-heading {
  padding: clamp(15px, 4vw, 35px);
  text-align: center;
}

.items-container-heading h3 {
  font-family: pfbold;
  font-size: clamp(16px, 4vw, 48px);
}

.items-container-heading p {
  font-family: pfmedium;
  font-size: clamp(12px, 3vw, 37px);
}

/******** ITEM CLASS ********/

.item {
  font-family: pfmedium;
}

.item h3 {
  font-size: clamp(15px, 4vw, 33px);
}

.item img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.item p {
  font-size: clamp(18px, 4vw, 43px);
  text-align: right;
}

.item sub {
  font-size: clamp(10px, 4vw, 15px);
}

.item sup {
  font-size: clamp(15px, 4vw, 22px);
}

#item1 {
  width: 375px;
  height: 400px;
  background-color: #f09344;
}
#item2 {
  width: 780px;
  height: 440px;
  background-color: #dfc7af;
}
#item3 {
  width: 545px;
  height: 500px;
  background-color: #71c1b6;
}
