@font-face {
  font-family: pfbold;
  src: url(./assets/PFBagueSansPro-Bold.ttf);
}
@font-face {
  font-family: pfmedium;
  src: url(./assets/PFBagueSansPro-Medium.ttf);
}

:root {
  font-size: 30px;
}

body {
  margin: 0;
}

h3,
h4,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/********** BANNER ***********/

.banner {
  max-width: 100%;
  height: auto;
  display: block;
}

/********** SECTION 1 ***********/

.section1 {
  max-width: 100%;
  max-height: 140px;
  padding: clamp(15px, 3vw, 30px);
  text-align: center;
  background-color: #f7f6e7;
  color: #707070;
  line-height: clamp(25px, 4vw, 35px);
}

.section1 h4 {
  font-size: clamp(12px, 4vw, 33px);
  font-family: pfbold;
}

.section1 p {
  margin: 0;
  letter-spacing: 0.3px;
  font-family: pfmedium;
  font-size: clamp(11px, 3vw, 27px);
}

/********** ITEMS SECTION ***********/
.items-container {
  padding: 20px 0 30px 0;
  background-color: #ebe9cd;
  color: #707070;
}

.items-container-heading {
  /* padding: clamp(15px, 4vw, 35px); */
  padding-bottom: clamp(15px, 4vw, 30px);
  text-align: center;
}

.items-container-heading h3 {
  font-family: pfbold;
  font-size: clamp(16px, 4vw, 48px);
}

.items-container-heading p {
  font-family: pfmedium;
  font-size: clamp(12px, 3vw, 37px);
}

/******** ITEM CLASS ********/

.item {
  font-family: pfmedium;
  padding: clamp(10px, 2vw, 20px);
}

.items-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: end;
  row-gap: 20px;
  /* flex-basis: 21.1%; */
  /* width-item / (1920px - paddings(75 +75))  
  no fix values ONLY responsive values*/
}

.item h3 {
  font-size: clamp(17px, 2vw, 33px);
}

.item img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.item p {
  font-size: clamp(18px, 4vw, 43px);
  text-align: right;
}

.item sub {
  font-size: clamp(12px, 2vw, 15px);
}

.item sup {
  font-size: clamp(15px, 2vw, 22px);
}

#item1 {
  /* width: 325px; */
  flex-basis: 21.1%;
  /* height: 360px; */
  background-color: #f09344;
}
#item2 {
  /* width: 730px; */
  flex-basis: 43.9%;
  /* height: 415px; */
  background-color: #dfc7af;
}
#item3 {
  /* width: 525px; */
  flex-basis: 30.7%;
  /* height: 480px; */
  background-color: #71c1b6;
}
#item4 {
  width: 525px;
  height: 460px;
  background-color: #b95c4c;
}
#item5 {
  width: 375px;
  height: 405px;
  background-color: #fecb68;
}
#item6 {
  width: 780px;
  height: 400px;
  background-color: #ada0bf;
}
#item7 {
  width: 375px;
  height: 350px;
  background-color: #c6e5bd;
}
#item8 {
  width: 780px;
  height: 410px;
  background-color: #8fbbce;
}
#item9 {
  width: 545px;
  height: 450px;
  background-color: #b2b192;
}

/******** YELLOW SECTION *******/
.yellow-container {
  background-color: #f2d217;
  font-family: pfmedium;
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 55px;
}

.yellow-heading {
  margin-bottom: 70px;
  color: #ffffff;
  text-align: center;
}

.yellow-heading h4:first-child {
  font-weight: 100;
}

/******** BRANDS SECTION *******/
.brands-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, clamp(165px, 35vw, 280px));
  column-gap: 30px;
  row-gap: 25px;
  margin-left: 2%;
}

.brand {
  background-color: #faf7ea;
  height: clamp(60px, 10vw, 90px);
  max-width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img {
  max-width: 100%;
  max-height: 80%;
}

/******** GREEN SECTION ********/

.green-container {
  font-family: pfmedium;

  background-color: #137b45;
  height: 420px;
  max-height: 420px;
}

.green-heading {
  margin-bottom: 70px;
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
  line-height: 40px;
}

.green-heading h4:last-child {
  font-weight: 100;
}

/******** MEDIA QUERIES *******/

@media (max-width: 955px) {
  .items-container-heading {
    display: none;
  }

  .items-grid {
    transform: translateY(30px);
    display: grid;
    grid-template-columns: repeat(2, 165px);
    grid-template-rows: repeat(6, 140px);
    grid-row-gap: 30px;
    grid-column-gap: 5px;
  }

  #item1,
  #item2,
  #item3,
  #item4,
  #item5,
  #item6,
  #item7,
  #item8 {
    width: 145px;
    height: 135px;
  }
  #item9 {
    width: 320px;
    height: 140px;
  }
}
