:root {
  --sans-pro-bold: "PFBagueSansPro-Bold", sans-serif;
  --sans-pro-medium: "PFBagueSansPro-Medium", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  img {
    max-width: 100%;
    display: block;
  }
}

.title {
  padding-top: 7px;
  background-color: #f7f6e7;
  color: #707070;
  text-align: center;
  line-height: 13px;
  h2 {
    font-family: var(--sans-pro-medium);
    font-size: 11px;
    strong {
      font-family: var(--sans-pro-bold);
      font-size: 12px;
    }
  }
}
.grid-wrapper {
  background-color: #f7f6e7;
  .grid-title {
    display: none;
  }
  .grid-inner {
    padding-inline: 15px;
    padding-block: 11px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    color: #ffffff;
    font-family: var(--sans-pro-bold);
    h1 {
      font-size: 15px;
    }
    h6 {
      font-size: 18px;
      text-align: right;
      position: absolute;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      max-height: 100px;
    }
    .grid-item {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .grid-item:nth-child(1) {
      background-color: #f09344;
      padding: 7px 4px 1px 10px;
      h6 {
        position: relative;
        bottom: 1px;
        right: 4px;
      }
    }
    .grid-item:nth-child(2) {
      background-color: #dfc7af;
      padding: 7px 6px 1px 8px;
      h6 {
        bottom: 1px;
        right: 6px;
      }
    }
    .grid-item:nth-child(3) {
      background-color: #71c1b6;
      padding: 12px 4px 0px 10px;
      h6 {
        position: relative;
        bottom: 0px;
        right: 4px;
      }
    }
    .grid-item:nth-child(4) {
      background-color: #b95c4c;
      padding: 12px 6px 0px 8px;
      h6 {
        // position: relative;
        bottom: 0px;
        right: 6px;
      }
    }
    .grid-item:nth-child(5) {
      background-color: #fecb68;
      padding: 8px 4px 0px 10px;
      h6 {
        position: relative;
        bottom: 0px;
        right: 4px;
      }
    }
    .grid-item:nth-child(6) {
      background-color: #ada0bf;
      padding: 8px 6px 0px 8px;
      h6 {
        // position: relative;
        bottom: 0px;
        right: 6px;
      }
    }
    .grid-item:nth-child(7) {
      background-color: #c6e5bd;
      padding: 8px 6px 0px 8px;
      h6 {
        position: relative;
        bottom: 0px;
        right: 6px;
      }
    }
    .grid-item:nth-child(8) {
      background-color: #8fbbce;
      padding: 8px 6px 0px 8px;
      h6 {
        position: relative;
        bottom: 0px;
        right: 6px;
      }
    }
    .grid-item:nth-child(9) {
      background-color: #b2b192;
      padding: 8px 6px 0px 8px;
      grid-column: span 2;
      h6 {
        position: relative;
        bottom: 0px;
        right: 6px;
      }
    }
  }
}

.yellow-wrapper {
  background-color: #f2d217;
  font-family: var(--sans-pro-medium);
  color: #ffffff;
  padding-inline: 10px;
  .yellow-title {
    text-align: center;
    padding-block: 9px 14px;
    h2 {
      font-size: 13px;
      strong {
        font-size: 15px;
        font-family: var(--sans-pro-bold);
      }
    }
  }
  .yellow-inner {
    padding-bottom: 28px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 165px);
    gap: 10px;
  }

  .yellow-item {
    background-color: white;
    width: 100%;
    padding: 5px;
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      max-height: 50px;
    }
  }
  .yellow-item:nth-child(11) {
    padding-top: 17px;
  }
  .yellow-item:nth-child(12) {
    padding-top: 10px;
  }
}

@media (min-width: 600px) {
  .grid-wrapper {
    .grid-title {
      display: none;
    }
    .grid-inner {
      padding-inline: 25px;
      grid-template-columns: repeat(3, 1fr);
      .grid-item:nth-child(2) {
        grid-column: span 2;
        h6 {
          position: absolute;
          bottom: 0px;
          right: 6px;
        }
      }
      .grid-item:nth-child(6) {
        grid-column: span 2;
        h6 {
          position: absolute;
          bottom: 0px;
          right: 6px;
        }
      }
      .grid-item:nth-child(9) {
        background-color: #b2b192;
        padding: 8px 6px 0px 8px;
        grid-column: span 2;
        h6 {
          position: absolute;
          bottom: 0px;
          right: 6px;
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .grid-wrapper {
    background-color: #ebe9cd;
    .grid-title {
      display: block;
      text-align: center;
      padding-top: 15px; //max:30px;
      color: #707070;
      h1 {
        font-family: var(--sans-pro-medium);
        font-size: 20px;
      }
      strong {
        font-family: var(--sans-pro-bold);
        font-size: 30px;
      }
    }
    .grid-inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
